/*
This file contains all fonts and color styles in ParaTracker that
are not contained in the skin files. The Dynamic Tracker page, RCon
page and Param page styles are here.
Edit it however you see fit.

If you are looking for the tracker configuration,
you will find it in ParaConfig.php
*/



/*
PARATRACKER DYNAMIC SETUP PAGE CLASSES
PARATRACKER DYNAMIC SETUP PAGE CLASSES
*/


/* This class sets the width of the page */
.dynamicPageWidth
{
width: 1050px;
display: inline-block;
}

/* This class aligns the text to the center of the page */
.dynamicPageContainer
{
width: 100%;
text-align: center;
}

/* This class is used for the page formatting in ParaTrackerDynamic.php */
.dynamicConfigPage
{
text-align: center;
}

/* This class is used for the page formatting in ParaTrackerDynamic.php */
.dynamicConfigPageStyle
{
background-color: #111111;
font-size: 12pt;
font-family: monospace;
color: #EEEEEE;
}

/* This class is for the "Generate!" button on ParaTrackerDynamic.php */
.dynamicFormButtonsStyle
{
background-color: #292929;
cursor: pointer;
color: #EEEEEE;
font-family: inherit;
font-size: 12pt;
}

/* This class is used to center the list of supported games on ParaTrackerDynamic.php */
.centerTable
{
margin-left: auto;
margin-right: auto;
text-align: center;
width: 500px;
}

/* This class is for the "Generate!" button on ParaTrackerDynamic.php */
.dynamicFormButtons
{
padding: 10px 10px;
border: 1px;
cursor: pointer;
}

/* This class is used for the subscripts underneath the Color input boxes on the dynamic setup page */
.smallText
{
font-size: 8pt;
}

/* This class is used to put a border around the color selections */
.colorSelections
{
margin: 0 auto;
margin-top: 30px;
text-align: center;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
box-shadow: 0px 0px 20px #44F, inset 0px 0px 10px #44F;
border: 2px solid #44F;
width: 600px;
}

/* This class is used for the test frame on ParaTrackerDynamic.php */
.paraTrackerTestFrame
{
background-color: #FFFFFF;
width: 1050px;
margin: 0 auto;
text-align: center;
}

/* This class is used for the background gradient on the dynamic setup page */
.paraTrackerTestFrameGradient
{
background-size: 150%;
background: linear-gradient(to right, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333, #FFFF33, #33FF33, #33FFFF, #3333FF, #FF33FF, #FF3333);
animation: paraTrackerTestFrameGradientAnimation 5s linear infinite;
}

/* This class animates the background gradient */
@keyframes paraTrackerTestFrameGradientAnimation
{
    0% {background-position: 0px 0px;}
    100% {background-position: -175px 0px;}
}

/* This class is used for the background gradient on the dynamic setup page */
.paraTrackerTestFrameTexture
{
background-image: url("../images/tracker/backgroundTest.jpg");
animation: paraTrackerTestFrameTextureAnimation 20s linear infinite;
}

.paraTrackerTestFrameTexturePreload
{
background-image: url("../images/tracker/backgroundTest.jpg");
display: none;
}

/* This class animates the background gradient */
@keyframes paraTrackerTestFrameTextureAnimation
{
    0% {background-position: 0px 0px;}
    100% {background-position: -1024px 256px;}
}

/* This class makes the test frame and color selections visible on ParaTrackerDynamic.php */
.expandedFrame
{
display: block;
}

/* This class hides the test frame and color selections on ParaTrackerDynamic.php */
.collapsedFrame
{
display: none;
}



/* The following values are used for colorizing the list of supported games. */
.gameColor0
/* Black (Gray is used for readability)
Default is #6F6F6F */
{
color: #6F6F6F;
font-weight: bold;
}

.gameColor1
/* Red
Default is #FF0000 */
{
color: #FF0000;
font-weight: bold;
}

.gameColor2
/* Green
Default is #00FF00 */
{
color: #00FF00;
font-weight: bold;
}

.gameColor3
/* Yellow
Default is #FFFF00 */
{
color: #FFFF00;
font-weight: bold;
}

.gameColor4
/* Blue
Default is #2222FF */
{
color: #2222FF;
font-weight: bold;
}

.gameColor5
/* Cyan
Default is #00FFFF */
{
color: #00FFFF;
font-weight: bold;
}

.gameColor6
/* Pink/Purple
Default is #FF00FF */
{
color: #FF00FF;
font-weight: bold;
}

.gameColor7
/* White
Default is #FFFFFF */
{
color: #FFFFFF;
font-weight: bold;
}

.gameColor8
/* Orange
Default is #FF4400 */
{
color: #FF4400;
font-weight: bold;
}

.gameColor9
/* Gray
Default is #8A8A8A */
{
color: #8A8A8A;
font-weight: bold;
}


/*
GENERAL FORMATTING - SOME CLASSES MAY NOT BE USED
GENERAL FORMATTING - SOME CLASSES MAY NOT BE USED
*/


/* No idea */
.heading
{
color:#EFEFEF;
font-size:18pt;
font-weight:bold;
}

/* When an error message is displayed, this is the class used. Most error messages use the <h3> tag as well. */
.errorMessage
{
font-weight: bold;
font-size: 14pt;
}

/* This class removes link formatting from anchor tags */
a
{
color: inherit;
text-decoration: none;
}

/* Used for div tables, but I don't think it is used anywhere */
.clear
{
clear: both;
}

/* No idea if this is used any more */
.info
{
color:#EFEFEF;
font-size:9pt;
font-family:monospace;
line-height:90%;
}

/* This class is used to hide the refresh timer on page load. */
.hiddenTimer
{
display: none;
}

/* This class is used to hide the reconnect button until another attempt is available. */
.hide
{
display: none;
}

