/*
This file contains all the fonts and color styles in ParaTracker.
Edit it however you see fit.

If you are looking for the tracker configuration,
you will find it in ParaConfig.php
*/



/*
SKIN A CLASSES
SKIN A CLASSES
*/

.BackgroundColorImageA
{

/* This next line is the background color of the tracker.
The numbers are given in RGBA, which is Red, Green, Blue, and Alpha.
All values are 0 to 255, except alpha which is 0 to 1.
0 is transparent, 1 is solid.
Default is: background-color: rgba(0, 0, 0, 1);
*/
background-color: rgba(0, 0, 0, 1);

/* If you want a background image on the tracker,
this next line is the place to add it. */
background-image: url("");
}

/* This class sets the opacity of the reload timer */
.reloadTimerOpacityA
{
opacity: 0.25;
}

/* This class is for the text in the timer, at the left */
.reloadTimerTextA
{
color:#EFEFEF;
font-size:14pt;
font-family: monospace;
font-weight:bold;
}

/* This is the server name, shown at the top of the tracker */
.serverName
{
color:#EFEFEF;
font-size:14pt;
font-family:"Trebuchet MS";
font-weight:bold;
}

/* This is the title of the game, shown just below the server name */
.gameTitle
{
color:#808080;
font-size:10pt;
font-family: verdana;
font-style:italic;
}

/* This is the color of the Name Score and Ping column headers for the player list */
.nameScorePing
{
color:#FFFFBB;
}

/* This class is used for the odd rows in the player list */
.playerRow1
{
background-color:#191919;
font-family:monospace;
color: #FFFFFF;
}

/* This class is used for the even rows in the player list */
.playerRow2
{
background-color:#2a2a2a;
font-family:monospace;
color: #FFFFFF;
}

/* All player names use this class */
.playerName
{
font-size:10pt;
font-family: monospace;
}

/* All player scores use this class */
.playerScore
{
font-size:10pt;
font-family: monospace;
text-align: center;
}

/* All player pings use this class */
.playerPing
{
font-size:10pt;
font-family: monospace;
text-align: center;
}

/* This class is used to style the message when there are no players online */
.noPlayersOnline
{
color: #FFFFFF;
font-size:10pt;
font-family: monospace;
text-align: left;
}

/* This class is used for the player count, displayed on the bottom left */
.playerCount
{
color:#EFEFEF;
font-size:14pt;
font-family:arial;
vertical-align: middle;
text-align: center;
}

/* This class is used for the map name, below the levelshot */
.mapName
{
color:#EEEEEE;
font-size:9pt;
font-family:monospace;
overflow: hidden;
height: 20px;
width: 150px;
float: left;
word-wrap: break-word;
}

/* This class is used for the gametype, below the levelshot */
.gametype
{
color:#EFEFEF;
font-size:9pt;
font-family:monospace;
overflow: hidden;
height: 20px;
width: 150px;
float: left;
word-wrap: break-word;
}

/* This class is used for the mod name, below the levelshot */
.modName
{
color:#EFEFEF;
font-size:9pt;
font-family:monospace;
overflow: hidden;
float: left;
height: 20px;
width: 300px;
word-wrap: break-word;
}

/* This class is used for the IP address, below the levelshot */
.IPAddress
{
color: #EFEFEF;
font-size: 9pt;
font-family: monospace;
overflow: hidden;
float: left;
height: 20px;
width: 300px;
word-wrap: break-word;
}

/* Used for the text on the "Could Not Connect" page */
.couldNotConnectText
{
color:#EEEEEE;
font-size:11pt;
font-family: monospace;
}


/*
SKIN B CLASSES
SKIN B CLASSES
*/

.BackgroundColorImageB
{

/* This next line is the background color of the tracker.
The numbers are given in RGBA, which is Red, Green, Blue, and Alpha.
All values are 0 to 255, except alpha which is 0 to 1.
0 is transparent, 1 is solid.
Default is: background-color: rgba(0, 0, 0, 1);
*/
background-color: rgba(0, 0, 0, 1);

/* If you want a background image on the tracker,
this next line is the place to add it. */
background-image: url("");
}

/* This class sets the opacity of the reload timer */
.reloadTimerOpacityB
{
opacity: 0.25;
}

/* This class is for the text in the timer, at the left */
.reloadTimerTextB
{
color:#EFEFEF;
font-size:14pt;
font-family: monospace;
font-weight:bold;
}

/* This is the server name, shown at the top of the tracker */
.serverNameB
{
color:#EFEFEF;
font-size:12pt;
font-family:"Trebuchet MS";
font-weight:bold;
}

/* This is the title of the game, underneath the server name */
.gamenameB
{
color:#808080;
font-size:8pt;
font-family: verdana;
font-style:italic;
}

/* This class is for the Name column header on the player list */
.playerNameB
{
font-size:8pt;
font-family: monospace;
color: #FFFFBB;
}

/* This class is for the Score column header on the player list */
.playerScoreB
{
font-size:8pt;
font-family: monospace;
color: #FFFFBB;
}

/* This class is for the Ping column header on the player list */
.playerPingB
{
font-size:8pt;
font-family: monospace;
color: #FFFFBB;
}

/* This class is used to style the message when there are no players online */
.noPlayersOnlineB
{
color: #FFFFFF;
font-size:9pt;
font-family: monospace;
text-align: left;
}

/* This is the map name, in the bottom left data area. Colors may not apply, since map names are colorized */
.mapnameB 
{
color: #FFFFFF;
font-size: 8pt;
font-family: monospace;
vertical-align: middle;
text-align: left;
font-weight:bold;
}

/* This is the gametype, in the bottom left data area */
.gametypeB 
{
color: #FFFFFF;
font-size: 8pt;
font-family: monospace;
vertical-align: middle;
text-align: left;
font-weight:bold;
}

/* This is the mod name, in the bottom left data area */
.modnameB 
{
color: #FFFFFF;
font-size: 8pt;
font-family: monospace;
vertical-align: middle;
text-align: left;
font-weight:bold;
}

/* This is the mod name, in the bottom left data area */
.IPandPortB 
{
color: #FFFFFF;
font-size: 8pt;
font-family: monospace;
vertical-align: middle;
text-align: left;
font-weight:bold;
}



/*
RCON PAGE CLASSES
RCON PAGE CLASSES
*/


/* This class is the overall appearance of the RCon window */
.RConPage
{
background-color: #000000;
color: #EEEEEE;
font-size: 11pt;
font-family: monospace;
text-align: left;
}

/* This class is for the Command and Password labels */
.RConPasswordCommand
{
font-family: inherit;
}

/* This class is for the text boxes where the user enters RCon data */
.RConInput
{
background-color: inherit;
color: #FFFFFF;
}

/* This class is for the text boxes where the user enters the RCON data */
input[type=text], input[type=password]
{
padding: 4px 10px;
border: 1px;
border-bottom-style: solid;
border-top-style: none;
border-right-style: none;
border-left-style: none;
font-family: inherit;
}

/* This class is for the Send button */
input[type=submit]
{
padding: 10px 10px;
border: 1px;
background-color: #292929;
cursor: pointer;
color: #EEEEEE;
font-family: inherit;
}

/* This class is for the server address and response text, just below the form */
.RConServerAddressResponse
{
background-color: inherit;
font-family: inherit;
}

/* This class is for the actual server response */
.RConServerResponse
{
background-color: inherit;
font-family: inherit;
color: #EEEEEE;
}


/*
PARAM PAGE CLASSES
PARAM PAGE CLASSES
*/


/* This class is the fonts and colors for the Param page */
.cvars_page
{
background-color:#202020;
color:#EFEFEF;
font-size:8pt;
font-family: "Trebuchet MS";
text-align:center;
}

/* This class is for the "Server Cvars" text at the top of the page */
.CVarHeading
{
color:#EFEFEF;
font-size:22pt;
font-weight:bold;
text-align:center;
}

/* This class is for the server IP and port at the top of the page */
.CVarServerAddress
{
color:#EFEFEF;
font-size:9pt;
font-weight:bold;
text-align:center;
}

/* This class is for the title row at the top of the CVar table */
.cvars_titleRow
{
background-color:#383833;
font-weight:bold;
font-size: 14pt;
text-align: center;
vertical-align: middle;
}

/* This class determines the color of each odd row of the CVar table */
.cvars_row1
{
height: 28px;
background-color:#333333;
text-align: center;
font-size: 10pt;
}

/* This class determines the color of each even row of the CVar table */
.cvars_row2
{
height: 28px;
background-color:#3F3F3F;
text-align: center;
font-size: 10pt;
}

/* This class is for the individual table cells in the CVar table */
.CVarCell
{
width: 270px;
text-align: center;
font-size: 10pt;
padding-bottom: 10px;
vertical-align: middle;
}

/* This class is for the "(Click to expand/collapse)" text on the expanding list */
.expandCollapse
{
font-size: 7pt;
}


/*
PARA TRACKER DYNAMIC SETUP PAGE CLASSES
PARA TRACKER DYNAMIC SETUP PAGE CLASSES
*/


/* This class is used for the page formatting in ParaTrackerDynamic.php */
.dynamicConfigPageStyle
{
background-color: #111111;
font-size: 12pt;
font-family: monospace;
color: #EEEEEE;
}

/* This class is for the "Generate!" button on ParaTrackerDynamic.php */
.dynamicFormButtonsStyle
{
background-color: #292929;
cursor: pointer;
color: #EEEEEE;
font-family: inherit;
font-size: 12pt;
}


/*
COLORIZER CLASSES
COLORIZER CLASSES

The following values are used for colorizing things like player names and the server name.
They are already accurate. Do not change them unless you have a very good reason!
*/

.color0
/* Black (Gray is used for readability)
Default is #6F6F6F */
{
color: #6F6F6F;
}

.color1
/* Red
Default is #FF0000 */
{
color: #FF0000;
}

.color2
/* Green
Default is #00FF00 */
{
color: #00FF00;
}

.color3
/* Yellow
Default is #FFFF00 */
{
color: #FFFF00;
}

.color4
/* Blue
Default is #0000FF */
{
color: #0000FF;
}

.color5
/* Cyan
Default is #00FFFF */
{
color: #00FFFF;
}

.color6
/* Pink/Purple
Default is #FF00FF */
{
color: #FF00FF;
}

.color7
/* White
Default is #FFFFFF */
{
color: #FFFFFF;
}

.color8
/* Orange
Default is #FF4400 */
{
color: #FF4400;
}

.color9
/* Gray
Default is #8A8A8A */
{
color: #8A8A8A;
}

.color?
/* Unknown Colors
Default is #FFFFFF */
{
color: #FFFFFF;
}


/*
GENERAL FORMATTING - SOME CLASSES MAY NOT BE USED
GENERAL FORMATTING - SOME CLASSES MAY NOT BE USED
*/


/* No idea */
.heading
{
color:#EFEFEF;
font-size:18pt;
font-weight:bold;
}

/* No idea if this is used any more */
.info
{
color:#EFEFEF;
font-size:9pt;
font-family:monospace;
line-height:90%;
}
