body { font-size:10px;font-family:"Courier New", Courier, monospace;color:white }

.slideshow { position:absolute;width:192px;height:146px;top:4px;left:250px;padding: 0px;margin: 0px;border: 0px }
.slideshow img { position:absolute;width:192px;height:146px;top:0px;left:0px;padding: 0px;margin: 0px;border: 0px }

.border_graphic { z-index:2000;position:absolute;top:0px;left:0px }

#header { z-index:3000;position:absolute;top:6px;left:12px;width:229px;height:32px;overflow:hidden }

#players { z-index:3000;position:absolute;top:46px;left:32px;width:212px;height:148px;margin:0px;padding:0px }
#scrollable { z-index:3000;position:absolute;top:0px;left:0px;margin:0px;padding:0px }
#scrollable ul { list-style-type:none;padding:0px;margin:0px }
#scrollable ul li { width:200px }

#map { z-index:3000;position:absolute;top:132px;left:250px;width:192px;font-size:16px;font-weight:bold;text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;text-align:center;overflow:hidden }
#gametype { z-index:3000;position:absolute;top:90px;left:254px;background-color:black;opacity:0.8;padding:4px;font-size:16px }

#rcon_link { z-index:3000;position:absolute;top:182px;left:254px }
#cvars_link { z-index:3000;position:absolute;top:182px;left:358px }

#rcon_popup { z-index:4000; position:absolute;top:25px;left:75px;width:300px;height:150px;background-color:#DAA520;border:2px solid;padding:2px;display:none }
#cvars_popup { z-index:4000; position:absolute;top:25px;left:75px;width:300px;height:150px;background-color:#DAA520;border: 2px solid;padding:2px;display:none;overflow:auto }
#cvars_popup table { border: 1px solid }
#cvars_popup table tr td { border: 1px solid }

#gamemode { z-index:3000;position:absolute;top:157px;left:254px;width:100px;height:10px;overflow:hidden }
#gamename { z-index:3000;position:absolute;top:169px;left:254px;width:100px;height:10px;overflow:hidden }

.color0 { color:#6A6A6A }
.color1 { color:#FF0000 }
.color2 { color:#00FF00 }
.color3 { color:#FFFF00 }
.color4 { color:#0000FF }
.color5 { color:#00FFFF }
.color6 { color:#FF00FF }
.color7 { color:#FFFFFF }
.color8 { color:#6A6A6A }
.color9 { color:#FF4400 }

