.text
{
color:#EFEFEF;
font-size:8pt;
font-family: verdana;
}

.cvars_page
{
background-color:#606060;
color:#EFEFEF;
font-size:8pt;
font-family: Trebuchet MS;
}

.rcon_page
{
background-color:#BBBBBB;
color:#333333;
font-size:8pt;
font-family: Trebuchet MS;
}

.serverResponse1
{
background-color:#ffffff;
font-family:monospace;
font-size:8pt;
}

.nameScorePing
{
color:#FFFFBB;
font-size:7pt;
}

.cvars_titleRow
{
background-color:#40403A;
font-weight:bold;
}

.cvars_row1
{
background-color:#404040;
}

.cvars_row2
{
background-color:#4A4A4A;
}

.heading
{
background-color:#606060;
color:#EFEFEF;
font-size:18pt;
font-weight:bold;
}

.noConnection
{
color:#EFEFEF;
font-size:10pt;
font-family: monospace;
}

.serverName
{
color:#EFEFEF;
font-size:11pt;
font-family:Trebuchet MS;
font-weight:bold;
}

.playerRow1
{
background-color:#131313;
font-family:monospace;
}

.playerRow2
{
background-color:#242424;
font-family:monospace;
}

.info
{
color:#EFEFEF;
font-size:7pt;
font-family:arial;
line-height:90%;
}

.players
{
color:#EFEFEF;
font-size:11pt;
font-family:arial;
}

.frameCorner{background: url("images/tracker/corner-tr.gif");}

.hiddenPic {display:none;}

.visiblePic {display:inline;}

.gameTitle
{
color:#808080;
font-size:9pt;
font-style:italic;
}

.color0
{
color:#6A6A6A;
}

.color1
{
color:#FF0000;
}

.color2
{
color:#00FF00;
}

.color3
{
color:#FFFF00;
}

.color4
{
color:#0000FF;
}

.color5
{
color:#00FFFF;
}

.color6
{
color:#FF00FF;
}

.color7
{
color:#FFFFFF;
}

.color8
{
color:#6A6A6A;
}

.color9
{
color:#FF4400;
}

.color?
{
color:#FFFFFF;
}